/* Your code goes here */
p {
  margin: 0;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  border: 1px solid white;
}

nav {
  width: 100%;
}

li {
  list-style-type: none;
  flex-basis: 10%;
}


.grid {
  display: flex;
}

.gutters {
  margin: -10px 0 10px -10px;
}

.gutters>div {
  padding: 10px 0 0 10px;
}

.gutters div div {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  height: 100%;
}

.half {
  flex-basis: 50%;
}

.third {
  flex-basis: 33.33333%;
}

.fourth {
  flex-basis: 25%;
}